<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="/tabs/account"></ion-back-button>
		</ion-buttons>
		<div class="header-content">
			<span class="page_title animate__animated animate__fadeIn">
				{{ 'My Profile' | translate }}
			</span>
			<ion-button fill="clear" (click)="goToUpdateProfile()">
				<ion-icon name="create-outline"></ion-icon>
				{{ 'Edit' | translate }}
			</ion-button>
		</div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Loading Skeleton -->
	<div class="skeleton-wrapper" *ngIf="isLoading">
		<div class="profile-skeleton">
			<ion-skeleton-text animated class="avatar-skeleton"></ion-skeleton-text>
			<ion-skeleton-text animated class="name-skeleton"></ion-skeleton-text>
			<ion-skeleton-text animated class="email-skeleton"></ion-skeleton-text>
		</div>
		<div class="form-skeleton">
			<ion-skeleton-text animated class="input-skeleton"></ion-skeleton-text>
			<ion-skeleton-text animated class="input-skeleton"></ion-skeleton-text>
			<ion-skeleton-text animated class="input-skeleton"></ion-skeleton-text>
		</div>
	</div>

	<!-- Profile Content -->
	<div class="content-wrapper" *ngIf="!isLoading">
		<!-- Profile Image Section -->
		<div class="profile-image-section animate__animated animate__fadeIn">
			<div class="avatar-container">
				<img [src]="profile.gravatar || 'assets/imgs/avatar.png'" 
					 [alt]="profile.firstName"
					 [title]="profile.firstName">
				<div class="edit-overlay">
					<ion-icon name="camera-outline"></ion-icon>
				</div>
			</div>
			<p class="change-photo-text">{{ 'Change Profile Photo' | translate }}</p>
		</div>

		<!-- Profile Form -->
		<div class="profile-form animate__animated animate__fadeInUp">
			<ion-list lines="none">
				<!-- Name Row -->
				<ion-row>
					<ion-col size="6">
						<ion-item>
							<ion-input
								label="{{ 'First Name' | translate }}"
								labelPlacement="floating"
								[value]="profile.firstName"
								readonly>
							</ion-input>
						</ion-item>
					</ion-col>
					<ion-col size="6">
						<ion-item>
							<ion-input
								label="{{ 'Last Name' | translate }}"
								labelPlacement="floating"
								[value]="profile.lastName"
								readonly>
							</ion-input>
						</ion-item>
					</ion-col>
				</ion-row>

				<!-- Contact Info -->
				<ion-item class="animate__animated animate__fadeInUp animate__delay-1s">
					<ion-input
						label="{{ 'Email' | translate }}"
						labelPlacement="floating"
						[value]="profile.email"
						readonly>
						<ion-icon name="checkmark-circle" slot="end" 
								  *ngIf="profile?.emailVerified"
								  color="success">
						</ion-icon>
					</ion-input>
				</ion-item>

				<ion-item class="animate__animated animate__fadeInUp animate__delay-2s">
					<ion-input
						label="{{ 'Phone' | translate }}"
						labelPlacement="floating"
						[value]="profile.phoneNumber"
						readonly>
						<ion-icon name="checkmark-circle" slot="end" 
								  *ngIf="profile?.phoneVerified"
								  color="success">
						</ion-icon>
					</ion-input>
				</ion-item>

				<!-- Additional Info -->
				<ion-row class="animate__animated animate__fadeInUp animate__delay-3s">
					<ion-col size="6">
						<ion-item>
							<ion-input
								label="{{ 'Role' | translate }}"
								labelPlacement="floating"
								[value]="profile.roles && profile.roles.length ? (profile.roles[0] | translate) : ''"
								readonly>
							</ion-input>
						</ion-item>
					</ion-col>
					<ion-col size="6">
						<ion-item>
							<ion-input
								label="{{ 'Joined' | translate }}"
								labelPlacement="floating"
								[value]="profile.createdAt | date"
								readonly>
							</ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
			</ion-list>
		</div>
	</div>
</ion-content>
