@import "_mixins.scss";

:root {
  &.dark-theme {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    // ... other dark theme variables
  }
}

.dark-theme {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18,18,18;
  // ... other dark theme variables
} 